/*
 ClamAV Live Scan
 mad.coder@mail.com
 https://github.com/madcoder42/clamAVLiveScan

 Copyright 2017 madcoder42

 This file is part of ClamAV Live Scan.

 ClamAV Live Scan is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ClamAV Live Scan is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ClamAV Live Scan.  If not, see <http://www.gnu.org/licenses/>.
*/

#include "common.h"

// Icons
IDICONMAIN ICON "ClamAVLiveScan_32.ico"
IDICONMAINSMALL ICON "ClamAVLiveScan_16.ico"

// Pos(x, y) Dim(x, y)
// DIALOG MAIN
DIALOGMAIN DIALOG 150, 100, 300, 334
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "ClamAV Live Scan [By MadCoder42]"
BEGIN
    // Clamd
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 2, 296, 62
	RTEXT "Select clamd.exe:", -1, 6, 6, 60, 11
	EDITTEXT IDEDITCLAMDEXE, 68, 5, 210, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTCLAMDEXE, 280, 5, 12, 12
	RTEXT "Select clamd.conf:", -1, 6, 20, 60, 11
	EDITTEXT IDEDITCLAMDCONF, 68, 19, 210, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTCLAMDCONF, 280, 19, 12, 12
	RTEXT "Clamd TCP IP:", -1, 6, 34, 60, 11
	EDITTEXT IDEDITCLAMDIP, 68, 33, 70, 12, ES_AUTOHSCROLL | ES_CENTER
	RTEXT "Clamd TCP Port:", -1, 140, 34, 60, 11
	EDITTEXT IDEDITCLAMDPORT, 202, 33, 40, 12, ES_AUTOHSCROLL | ES_CENTER
	LTEXT "(clamd.conf)", -1, 250, 34, 40, 11
	RTEXT "Clamd Status:", -1, 6, 48, 60, 11
	EDITTEXT IDEDITCLAMDSTATUS, 68, 47, 70, 12, ES_AUTOHSCROLL | ES_READONLY | ES_CENTER
	PUSHBUTTON "Start Clamd", IDBTNCLAMDSTART, 146, 47, 60, 12
	AUTOCHECKBOX "Auto-Start Clamd", IDCHECKCLAMDAUTO, 214, 48, 64, 11
	// Live Scan
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 66, 296, 200
	RTEXT "Live Scan Status:", -1, 6, 70, 60, 11
	EDITTEXT IDEDITLIVESTATUS, 68, 69, 70, 12, ES_AUTOHSCROLL | ES_READONLY | ES_CENTER
	PUSHBUTTON "Start Live Scan", IDBTNLIVESTART, 146, 69, 60, 12
	AUTOCHECKBOX "Auto-Start Live Scan", IDCHECKLIVEAUTO, 214, 70, 74, 11
	LTEXT "Live Scan Include Folders (Recursive Scan):", -1, 6, 86, 150, 11
	PUSHBUTTON "Add", IDBTNLIVEINCADD, 222, 83, 34, 12
	PUSHBUTTON "Remove", IDBTNLIVEINCDEL, 259, 83, 34, 12
	LISTBOX IDLISTLIVEINCLUDE, 6, 96, 288, 70, WS_HSCROLL | WS_VSCROLL | LBS_DISABLENOSCROLL
	LTEXT "Live Scan Exclude Files/Folders (Recursive Scan):", -1, 6, 168, 170, 11
	PUSHBUTTON "Add", IDBTNLIVEEXCADD, 222, 165, 34, 12
	PUSHBUTTON "Remove", IDBTNLIVEEXCDEL, 259, 165, 34, 12
	LISTBOX IDLISTLIVEEXCLUDE, 6, 178, 288, 70, WS_HSCROLL | WS_VSCROLL | LBS_DISABLENOSCROLL
	AUTOCHECKBOX "Log To File:", IDCHECKLIVELOG, 6, 250, 50, 11
	EDITTEXT IDEDITLIVELOG, 56, 249, 222, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTLIVELOG, 280, 249, 12, 12
	// Quarantine
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 268, 296, 18
	AUTOCHECKBOX "Quarantine:", IDCHECKQUARANTINE, 6, 272, 50, 11
	EDITTEXT IDEDITQUARANTINE, 56, 271, 222, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTQUARANTINE, 280, 271, 12, 12
	// Others Actions
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 288, 296, 18
	PUSHBUTTON "Show Live Logs", IDBTNACTIONSLOGS, 6, 291, 70, 12
	PUSHBUTTON "Scan File / Folder", IDBTNACTIONSSCAN, 80, 291, 70, 12
	PUSHBUTTON "Scan All Processes", IDBTNACTIONPROCESSSCAN, 154, 291, 66, 12
    PUSHBUTTON "Update Databases", IDBTNACTIONSUPDATE, 224, 291, 70, 12
	// Buttons
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 308, 296, 24
	AUTOCHECKBOX "Auto-Start With Windows", IDCHECKAUTOSTART, 6, 315, 90, 11
	AUTOCHECKBOX "Minimize To Systray", IDCHECKMINIMIZE, 212, 315, 80, 11
	PUSHBUTTON "Stop All And Exit", IDBTNEXIT, 108, 312, 90, 15
END

// DIALOG ALERT
DIALOGALERT DIALOG 150, 100, 400, 150
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "ALERT - ClamAV Live Scan"
BEGIN
    EDITTEXT IDEDITALERTMSG, 2, 2, 396, 124, ES_MULTILINE | ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL | ES_READONLY
    PUSHBUTTON "Copy To Clipboard", IDBTNALERTCOPY, 60, 130, 90, 15
    PUSHBUTTON "Clear All", IDBTNALERTCLEAR, 155, 130, 90, 15
    PUSHBUTTON "Close", IDBTNALERTCLOSE, 250, 130, 90, 15
END

// DIALOG SHOW LIVE LOGS
DIALOGLIVELOGS DIALOG 150, 100, 400, 250
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "Live Logs - ClamAV Live Scan"
BEGIN
    EDITTEXT IDEDITLIVELOGSMSG, 2, 2, 396, 224, ES_MULTILINE | ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL | ES_READONLY
    PUSHBUTTON "Copy To Clipboard", IDBTNLIVELOGSCOPY, 60, 230, 90, 15
    PUSHBUTTON "Clear All", IDBTNLIVELOGSCLEAR, 155, 230, 90, 15
    PUSHBUTTON "Close", IDBTNLIVELOGSCLOSE, 250, 230, 90, 15
END

// DIALOG CLAMDSCAN
DIALOGCLAMDSCAN DIALOG 150, 100, 300, 78
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "Scan File / Folder - ClamAV Live Scan"
BEGIN
    CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 2, 296, 48
	RTEXT "Select clamdscan.exe:", -1, 6, 6, 74, 11
	EDITTEXT IDEDITCLAMDSCANEXE, 82, 5, 196, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTCLAMDSCANEXE, 280, 5, 12, 12
	AUTOCHECKBOX "Log To File:", IDCHECKCLAMDSCANLOG, 32, 19, 50, 11
	EDITTEXT IDEDITCLAMDSCANLOG, 82, 19, 196, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTCLAMDSCANLOG, 280, 19, 12, 12
	RTEXT "Select A File Or Folder:", -1, 6, 34, 74, 11
	EDITTEXT IDEDITCLAMDSCANPATH, 82, 33, 196, 12, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON "...", IDBTNSELECTCLAMDSCANPATH, 280, 33, 12, 12
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 52, 296, 24
	PUSHBUTTON "Start Scan", IDBTNCLAMDSCANSTART, 50, 56, 90, 15
    PUSHBUTTON "Close", IDBTNCLAMDSCANCLOSE, 150, 56, 90, 15
END

// DIALOG PROCESSSCAN
DIALOGPROCESSSCAN DIALOG 150, 100, 400, 250
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "Scan All Processes - ClamAV Live Scan"
BEGIN
	EDITTEXT IDEDITPROCESSSCANLOG, 2, 2, 396, 224, ES_MULTILINE | ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL | ES_READONLY
	PUSHBUTTON "Start Scan", IDBTNPROCESSSCANSTART, 60, 230, 90, 15
	PUSHBUTTON "Copy To Clipboard", IDBTNPROCESSSCANCOPY, 160, 230, 90, 15
    PUSHBUTTON "Close", IDBTNPROCESSSCANCLOSE, 260, 230, 90, 15
END

// DIALOG FRESHCLAM
DIALOGFRESHCLAM DIALOG 150, 100, 300, 64
	STYLE DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_MINIMIZEBOX
	CAPTION "Update Databases - ClamAV Live Scan"
BEGIN
    CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 2, 296, 34
    RTEXT "Select freshclam.exe:", -1, 6, 6, 74, 11
	EDITTEXT IDEDITFRESHCLAMEXE, 82, 5, 196, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTFRESHCLAMEXE, 280, 5, 12, 12
	RTEXT "Select freshclam.conf:", -1, 6, 20, 74, 11
	EDITTEXT IDEDITFRESHCLAMCONF, 82, 19, 196, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON "...", IDBTNSELECTFRESHCLAMCONF, 280, 19, 12, 12
	CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 2, 38, 296, 24
	PUSHBUTTON "Start Update", IDBTNFRESHCLAMSTART, 50, 42, 90, 15
    PUSHBUTTON "Close", IDBTNFRESHCLAMCLOSE, 150, 42, 90, 15
END
